.box {
  width: 100px;
  height: 100px;
  background-color: #E322CC;
  box-sizing: border-box;
}
.box .box3 {
  width: 100%;
  height: 40px;
  background-color: #07DF53;
  padding: 10px;
}
h2 {
  color: #010100;
}
p {
  color: #EBDF07;
}
